
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header{
  background-color: #1E1717;
  min-height: 90px;
}
.header__inner{
display: flex;
justify-content: space-between;
}
.logo{
  &__img{
    margin-top: 10px;
  }
}
.menu{
&__list{
display: flex;
justify-content: flex-end;
color: #fff;
}
&__item{
margin-top: 40px;
padding-left: 50px;
cursor: pointer;
 }
&__item:hover{
  color: #FFA318;
  font-weight: 700;
}
}
.search{
  margin-top: 30px;
  cursor: pointer;
 }
 .search:hover{
  border-bottom: 1px solid #fff;
 }

.splash{
&__container{
  max-width: 100%;
  height: 80%;
}
&__item{
  position: relative;
}
&__content{
position: absolute;
margin: auto;
top: 10%;
left: 14%;

}
&__title{
  max-width: 500px;
  margin-top: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
&__subtitle{
padding-top: 300px;
}
&__text{
max-width: 500px;
margin-top: 40px;
 }
}
.slick-dots{
  display: flex;
  justify-content: center;
  margin-top: -70px;
  li{
    line-height: 0;
    padding: 0 5px;
    button{
      padding: 0;
      font-size: 0;
      background-color: transparent;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 1px solid #FFA318;
      position: relative;
      &::before{
        content:'';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #FFA318;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.slick-active{
      button{
        border-color: #FFA318;
        &::before{
          background-color: #FFA318;
        }
      }
    }
  }
}
.slick-slide-control00{

}
.about{
  background-color: #3E3A3A;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__photo{
    margin-top: 80px;
    max-width: 570px;
    height: 700px;
    box-shadow: 10px 10px 25px 10px rgba(0, 0, 0, 0.3);
  }
  &__info{
    padding-left: 35px;
  }
  &__subtitle{
    margin-top: 260px;
  }
}
.block{
  &__inner{
    text-align: center;
    margin-top: 120px;
  }
  &__section{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }
  &__item{
    position: relative;
    width: 350px;
    height: 378px;
    background-color: #1E1717;
    padding: 170px 50px 100px 50px;
    margin-bottom: 140px;
  }
  &__item::before{
  content: '';
  position: absolute;
  top: 40px;
  width: 80px;
  height: 100px;
  right: 130px;
  background-repeat: no-repeat;
  }
  .block__item--shoes::before{
    background-image: url('../images/shoes.svg');
  }
  .block__item--bag::before{
    background-image: url('../images/flat.svg');
    
  }
  .block__item--tshirt::before{
    background-image: url('../images/tshirt.svg');
  }
}
.gallery{
  background-color: #1E1717;
  width: 100%;
  height: 500px;
  &__title{
    text-align: center;
  }
  &__subtitle{
    padding-top: 100px;
  }
}





 

@import 'media';

//           <video autoplay muted loop id="myVideo">
//   <source src="video/video.mp4" type="video/mp4">
// </video>


// #myVideo {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     min-width: 100%;
//     min-height: 100%;
// }

//   &__inner{
//     position: fixed;
//     bottom: 200;
//     width: 100%;
//     padding: 20px;
// }